  
  .header{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      /* background-color: lightcyan; */
  }
  
  
  .sun {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: rebeccapurple;
      margin: 30px auto;
      box-shadow: 3px 3px 30px 20px rgba(241, 69, 69, 0.863);
  }
    
  .main{
      display: flex;
      align-content: center;
      justify-content: center;
      width: 100%;
      /* background: lightgreen; */
      margin: 8px;
  }
  
  .card-wrapper {
      width: 100vw;
      /* height: 500px; */
      /* position: absolute; */
      /* vertical-align: middle; */
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
  }
  
  .card {
      margin-bottom: 10px;
      height: 200px;
      width: 200px;
      border-radius: 5%;
      z-index: 0
  }
  
  #card1 {
      background: rgb(241, 221, 152) url(images/pig-sm.png) center center no-repeat;
      background-size: 90%;
  }
  
  #card2 {
      background: rgb(241, 221, 152) url(images/bull-sm.png) center center no-repeat;
      background-size: 90%;
  }
  
  #card3 {
      background: rgb(241, 221, 152) url(images/chicken-sm.png) center center no-repeat;
      background-size: 90%;
  }
  
  #card4 {
      background:  rgb(241, 221, 152) url(images/goat.png) center center no-repeat;
      background-size: 90%;
  }
  
  .nav{
      display: flex;
      justify-content: center;
      margin: 10px auto;
  }
  
  
  .button-wrapper {
      display: flex;
      width: 90%;
      /* padding: 10px; */
      align-content: center;
      justify-content: center;
  }
  
  .button {
      padding: 5px;
      width: 30%;
      height: 30px;
      text-align: center;
      border: none;
  }
  
  .compass {
      display: flex;
      background: lightgoldenrodyellow;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin: 20px auto;
  }
  
  .input-group{
      display: flex;
      justify-items: center;
  }
  
  .submit-button{
      border: none;
      background: lightgreen;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      box-shadow: 0px 0px 20px 10px rgba(27, 235, 190, 0.863);
  }
  
  
  #about{
      background: mediumseagreen;
  }
  
  #animals{
      background: mediumslateblue;
  }
  
  #plants{
      background: mediumturquoise;
  }
  
  
  .backdrop {
      width: 100vw;
      height: 100vh;
      background-color: rgb(250, 124, 223);
      filter: opacity(0.5);
      display: none;
      position: fixed;
      z-index: 100;
      margin: 0;
  }
  
  
  .modal-1 {
    position: fixed;
    display: none;
    z-index: 200;
    top: 10%;
    left: 15%;
    width: 60vw;
    background: rgb(177, 218, 199);
    border-radius: 5px;
    padding: 15px;
    
  }
  
  .modal_title {
    text-align: center;
    padding: 5px;
    margin: 0 0 1rem 0;
  }
  
  .modal-2 {
    position: fixed;
    display: none;
    z-index: 200;
    top: 10%;
    left: 15%;
    width: 60vw;
    background: rgb(155, 138, 231);
    border-radius: 5px;
    padding: 15px;
    
  }
  
  .orb-1 {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: rgb(253, 93, 245);
      box-shadow: 0px 0px 20px 10px rgba(235, 180, 27, 0.863);
      margin: 5px auto;
      text-align: center;
  }
  
  .orb-2 {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: rgb(253, 93, 245);
      box-shadow: 0px 0px 20px 10px rgba(235, 180, 27, 0.863);
      margin: 5px auto;
      text-align: center;
  }
  
  orb-1 {
      box-shadow: 0px 0px 20px 10px rgba(27, 235, 155, 0.863);
  }
  
  
  /* .modal_actions {
    text-align: center;
  }
  .modal_action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  .modal_action:hover,
  .modal_action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  } */
  