body{
    background: lightblue;
}

.header{
    display: flex;
    justify-content: space-around;
    /* background-color: lightcyan; */
    margin: 8px;

}

.sun {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rebeccapurple;
    margin: 20px;
    box-shadow: 3px 3px 20px 10px rgba(241, 69, 69, 0.863);
}

.compass {
    display: flex;
    background: lightgoldenrodyellow;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-self: flex-end;
    margin: 50px;
    justify-content: center;
    align-items: center;
}

.input-group{
    display: flex;
    justify-items: center;
}

.submit-button{
    border: none;
    background: lightgreen;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px rgba(27, 235, 190, 0.863);
}

.main{
    display: flex;
    align-content: center;
    justify-content: center;
    /* background: lightgreen; */
    margin: 8px;
}

.circle {
    margin:auto;
    height: 400px;
    width: 400px;
    margin: 20px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, .50);
}

.card-wrapper {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.card {
    margin: 2px;
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    /* background: lightsalmon; */
    margin: 20px;
}

.button-wrapper {
    display: flex;
    max-width: 200px;
    padding: 10px;
    align-content: center;
    justify-content: center;
}

.button {
    padding: 5px;
    width: 80px;
    text-align: center;
    border: none;
}

#about{
    background: mediumseagreen;
}

#animals{
    background: mediumslateblue;
}

#plants{
    background: mediumturquoise;

.submit-button {
    padding: 5px;
    width: 200px;
    text-align: center;
    align-items:center;
}

.compass {
    margin-top:-600px;
    margin-left:-200px;
    position: relative;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 85%;
    left: 85%;

}