/* font-family: 'Crimson Text', serif;
font-family: 'Lora', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Josefin Slab', serif;
font-family: 'Unna', serif;
font-family: 'Cormorant', serif;
font-family: 'Abhaya Libre', serif;
font-family: 'IM Fell DW Pica', serif;
font-family: 'IM Fell Great Primer', serif;
font-family: 'Eczar', serif; */


body{
    margin: 0;
    background: linear-gradient(to bottom, #2d8acd, white);
  }

.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: #2d8acd;
    filter: opacity(0.6);
    display: none;
    position: fixed;
    z-index: 100;
    margin: 0;
}


.modal-1 {
  box-sizing: border-box;
  position: fixed;
  display: none;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  min-width: 300px;
  height: 400px;
  min-height: 300px;
  background: lightgoldenrodyellow;
  border-radius: 5px;
  padding: 20px;
  font-family: 'Crimson Text', serif;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}

.modal-1 h3{
  text-align: center;
  font-family: 'IM Fell DW Pica', serif;
  padding: 5px;
  margin: 0 0 1rem 0;
}

.latin {
    font-style: italic;
    margin-bottom: 5px;
}

.facts1 {
    margin-top: 10px;
}

.orb-1 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #2d8acd;
    box-shadow: 0px 0px 20px 10px rgba(252, 3, 169, 0.85);
    margin: 20px auto;
    /* text-align: center;
    position: absolute;
    bottom: 20px;
    left: 45%; */
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
/* background-color: lightcyan; */
    }

.sun {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(240, 240, 158);
    margin: 30px auto;
    box-shadow: 0px 0px 60px 25px rgba(252, 3, 169, 0.85);
}

.main{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* background: lightgreen; */
    margin: 8px;
}

.card-wrapper {
    width: 100vw;
    /* height: 500px; */
    /* position: absolute; */
    /* vertical-align: middle; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.card {
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    border-radius: 5%;
    z-index: 0
}

#card1 {
    background: lightgoldenrodyellow url(images/pig-sm.png) center center no-repeat;
    background-size: 90%;
}

#card2 {
    background: lightgoldenrodyellow url(images/bull-sm.png) center center no-repeat;
    background-size: 90%;
}

#card3 {
    background: lightgoldenrodyellow url(images/chicken-sm.png) center center no-repeat;
    background-size: 90%;
}

#card4 {
    background:  lightgoldenrodyellow url(images/goat-sm.png) center center no-repeat;
    background-size: 90%;
}

.nav{
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.button-wrapper {
    display: flex;
    width: 90%;
    /* padding: 10px; */
    align-content: center;
    justify-content: center;
}

.button {
    padding: 5px;
    width: 30%;
    height: 30px;
    text-align: center;
    border: none;
    font-family: 'Crimson Text', serif;
    font-size: 13px;
    font-weight: bold;
}

#about{
    background: #7bd4b2;
    border-radius: 5px 0 0 5px;
}

#animals{
    background: #7bd4b2;
}

#plants{
    background: #7bd4b2;
    border-radius: 0 5px 5px 0;
}

.compass {
    display: flex;
    background-color: rgba(250, 250, 210, 0.863);
    box-shadow: 0px 0px 10px 5px rgba(250, 250, 210, 0.863);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.input-group{
    display: flex;
    justify-items: center;
}

.submit-button{
    border: none;
    background: #2d8acd;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 10px rgba(252, 3, 169, 0.85);
}

/* DESKTOP! ========================================================================================================================== */

@media (min-width: 1024px) and (orientation: landscape){
    html {
        height: 100%;
    }

    body {
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .header{
        display: flex;
        justify-content: flex-start;
        margin: 0 auto;
        width: 100%;
        height: 3rem;
    }

    .sun {
        position: fixed;
        margin: 3rem;
        top: 1rem;
        left: 2rem;
        width: 10vw;
        height: 10vw;
        min-width: 88px;
        min-height: 88px;
    }

    .sun:hover{
        box-shadow: 0px 0px 1000px 800px rgba(241, 69, 69, 0.863);
        transition: box-shadow 10s;

    }

    .main{
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 2rem auto;
        /* width: 100vw; */
    }

    .circle {
        clip-path: circle(250px at center);
        /* margin: 2rem auto; */
        width: 500px;
        height: 500px;
        /* margin: .5rem auto; */
        background-color: rgb(60, 73, 150, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-wrapper {
        width: 300px;
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        flex-direction: row;
        margin-top: 0;
    }

    .card {
        /* margin: 2px; */
        width: 145px;
        height: 145px;
        background-color: red;
        transition: transform all 1s;
        border-radius: 5%;
        margin-bottom: 0;
        
    
    }

    #card1 {
        background:lightgoldenrodyellow url(images/pig-sm.png) center center no-repeat;
        background-size: 90%;
        transform-origin: bottom right;
        transition: all 1s;
    }

    #card1:hover{
        transform: scale(1.8);
    }

    #card2 {
        background: lightgoldenrodyellow url(images/bull-sm.png) center center no-repeat;
        background-size: 90%;
        transform-origin: bottom left;
        transition: all 1s;
    }

    #card2:hover{
        transform: scale(1.8);
    }

    #card3 {
        background: lightgoldenrodyellow url(images/chicken-sm.png) center center no-repeat;
        background-size: 90%;
        transform-origin: top right;
        transition: all 1s;
    }

      #card3:hover{
        transform: scale(1.8);
    }

    #card4 {
        background:  lightgoldenrodyellow url(images/goat-sm.png) center center no-repeat;
        background-size: 90%;
        transform-origin: top left;
        transition: all 1s;
    }

    #card4:hover{
        transform: scale(1.8);
    }


    /* #card1.ease{
        transition: all 2s ease-in;
    }

    #card1.ease-out{
        transition: all 2s ease-out;
    } */


    .nav {
        margin: 0px auto;
        /* position: fixed; 
        margin: 2rem;
        bottom: 5px;
        left: 3.5rem;
         */
    }

    .button-wrapper {
        display: flex;
        /* flex-direction: column; */
        padding: 10px;
    
    }

    .button {
        padding: 10px;
        margin: 2px;
        font-size: 14px;
        transition: all 2s;
        width: 100px;
        height: auto;
        vertical-align: middle;
        border-radius: 5px;

    }

    #about, #plants, #animals {
        border-radius:5px;
        outline: none;
    }

    #about:hover{
        background: rgb(240, 240, 158);
        box-shadow: 0px 0px 10px 2px rgba(42, 0, 121, 0.4);
    }

    #animals:hover{
        background: rgb(240, 240, 158);
        box-shadow: 0px 0px 10px 2px rgba(42, 0, 121, 0.4);
        transition: all 2s;
    }

    #plants:hover{
        background: rgb(240, 240, 158);
        box-shadow: 0px 0px 10px 2px rgba(42, 0, 121, 0.4);
        transition: all 2s;
    }

    .footer{
        display: flex;
        justify-content: flex-end;
        height:5rem;
    }

    .compass {
        position: fixed;
        bottom: 2rem;
        right: 3rem;
        width: 5vw;
        height: 5vw;
        min-width: 52px;
        min-height: 52px;
        padding: 1rem;
        margin: 2rem;
    }

    .submit-button{
        width: 3vw;
        height: 3vw;
        min-width: 31px;
        min-height: 31px;
    }

    .submit-button:hover{
        box-shadow: 0px 0px 200px 100px rgba(252, 3, 169, 0.85);;
        transition: box-shadow 10s;
    }
}

/*tablet landscape ================================================================================================================*/ 

@media (max-width: 1024px) and (min-height: 768px) and (orientation: landscape){
    .header{
        display: flex;
        justify-content: flex-start;
        margin: 0 auto;
    }
    
    .sun {
        width: 125px;
        height: 125px;
        border-radius: 50%;
        background-color: rebeccapurple;
        margin-left: 10rem;
        margin-top: 4rem;
        box-shadow: 0px 0px 20px 10px rgba(241, 69, 69, 0.863);
    }
    
    .main{
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 1rem auto;
    }
    
    .circle {
        clip-path: circle(150px at center);
        width: 350px;
        height: 350px;
        margin: 0 auto;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .card-wrapper {
        width: 350px;
        height: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    
    .card {
        margin: 0px;
        width: 175px;
        height: 175px;
        background-color: red;
    }

    #card1{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    #card1 > img{
        width: 100px;
        height: 100px;
    }

    #card2{
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }
    
    #card2 > img{
        width: 100px;
        height: 100px;
    }

    #card3{
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
    
    #card3 > img{
        width: 100px;
        height: 100px;
    }

    #card4{
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    #card4 > img{
        width: 100px;
        height: 100px;
    }
    
    .nav {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    
    .button-wrapper {
        display: flex;
        padding: 10px;
        align-content: center;
        justify-content: center;
    }
    
    .button {
        padding: 10px;
        text-align: center;
        border: none;
        font-size: 18px;
    }
    
    #about{
        background: mediumseagreen;
        border-radius: 5px 0 0 5px;
    }
    
    #animals{
        background: mediumslateblue;
    }
    
    #plants{
        background: mediumturquoise;
        border-radius: 0 5px 5px 0;
    }
    
    .footer{
        display: flex;
        justify-content: flex-end;
    }
    
    .compass {
        display: flex;
        background: lightgoldenrodyellow;
        width: 5vw;
        height: 5vw;
        border-radius: 50%;
        padding: 1rem;
        align-self: flex-end;
        margin-right: 8rem;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px 5px rgba(250, 250, 210, 0.863);
    }
    
    .input-group{
        display: flex;
        justify-items: center;
    }
    
    .submit-button{
        border: none;
        background: lightgreen;
        width: 3vw;
        height: 3vw;
        border-radius: 50%;
        box-shadow: 0px 0px 20px 10px rgba(27, 235, 190, 0.863);
    }
}

/*tablet portrait=====================================================================================================================*/ 

@media (min-width: 640px) and (max-width: 900px) and (orientation:portrait){
    .header{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin: 0 auto;
    }

    .sun {
        width: 16vw;
        height: 16vw;
        margin-top: 3rem;
        margin-left: 5rem;
        border-radius: 50%;
        background-color: rebeccapurple;
        box-shadow: 0px 0px 20px 10px rgba(241, 69, 69, 0.863);
    }
        
    .main{
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 1rem auto;
    }
    
    .circle {
        clip-path: circle(150px at center);
        width: 350px;
        height: 350px;
        margin: 0 auto;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .card-wrapper {
        width: 350px;
        height: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    
    .card {
        margin: 0px;
        width: 175px;
        height: 175px;
        background-color: red;
    }

    #card1{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    #card1 > img{
        width: 100px;
        height: 100px;
    }

    #card2{
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }
    
    #card2 > img{
        width: 100px;
        height: 100px;
    }

    #card3{
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
    
    #card3 > img{
        width: 100px;
        height: 100px;
    }

    #card4{
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    #card4 > img{
        width: 100px;
        height: 100px;
    }
    
    .nav {
        display: flex;
        justify-content: center;
    }
    
    .button-wrapper {
        display: flex;
        padding: 10px;
        align-content: center;
        justify-content: center;
    }
    
    .button {
        padding: 15px;
        text-align: center;
        border: none;
        font-size: 28px;
    }

    .footer{
        display: flex;
        justify-content: flex-end;
    }

    .compass {
        background: lightgoldenrodyellow;
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        margin: 0px;
        margin-right: 50px;
        margin-bottom: 30px;
    }
    
    .submit-button{
        border: none;
        background: lightgreen;
        height: 6vw;
        width: 6vw;
        border-radius: 50%;
        box-shadow: 0px 0px 20px 10px rgba(27, 235, 190, 0.863);
    }
    
}
